#my-video {
    position: absolute;
    width: 568px;
    height: 428px;        
    border: 4px solid #000000;    
}

#remote-video {    
    width: 568px;
    height: 428px;   
    border: 4px solid #000000;
}

#myCanvas {
    position: absolute;
    border: 2px solid yellow;    
    z-index: 10;
}

#make-call {
    margin-top: 10px;
}

#lblMonito {
    
}

#start {
    background: yellow;   
    font-size: 16pt;
}

#make-call {
    background: green;
    color: white;
    font-size: 16pt;
}

#end-call{
    background: red;
    color: white;
    font-size: 16pt;
}

#end-monitoring{
    background: red;
    color: white;
    font-size: 16pt;

}

#imgModalFace {
    top: 14%;
    height: 65%;
    width: 65%;
    position:relative;
}

#lblModalFace {
    top: 16.5%;
    left: -15px;
}

.modalFace{
height: 100%;
width: 100%;
padding: 0;
margin: 0;
}

.modalFace{
height: 100%;
width: 100%;
padding: 0;
margin: 0;
}

.modalFace:hover{
transition: 0.9s;
transform: scale(1.1,1.1);
}

.face_cl{
height: 100%;
background: #0165F3;
border: 0.1em solid #F1F1F1;
}

.ar_condicionado{
	background: #0165F3;
}

.tv{
	background: #0165F3;	
}

.temp{
	background: #0165F3;
}

.curtain{
		background: #0165F3;
}

#tel{
	margin-left: 18px;	
	margin-top: 5px;
}
#age{
	margin-left: 17px;
	margin-top: 5px;
}

#btCadastro{
	margin-left: 25%;	
}

#StatusConnection{
	width: 20px;
    height: 20px;
	background:green;
	border-radius: 50%;
	float: left;
	

}
#lbStatus{
	margin-left: 5px;
}






