#my-video {
    position: absolute;
    /*width: 568px;
    height: 428px;*/
    /*width: 640px;
    height: 480px;*/
    width: 738px;
    height: 425px;
}

#remote-video {
    /*width: 568px;
    height: 428px;*/
    width: 738px;
    height: 425px;
}

#myCanvas {
    position: absolute;
    border: 2px solid yellow;
    z-index: 10;
    width: 738px;
    height: 425px;
}

#lblMonito {
}

#start {
    background: yellow;
    font-size: 16pt;
}

#make-call {
    background: green;
    color: white;
}

#end-call {
    background: red;
    color: white;
}

#end-monitoring {
    background: red;
    color: white;
}

#imgModalFace {
    top: 14%;
    height: 65%;
    width: 65%;
    position: relative;
}

#lblModalFace {
    top: 16.5%;
    left: -15px;
}

.modalFace {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.modalFace {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .modalFace:hover {
        transition: 0.9s;
        transform: scale(1.1,1.1);
    }

.face_cl {
    height: 100%;
    background: #0165F3;
    border: 0.1em solid #F1F1F1;
}

.ar_condicionado {
    background: #0165F3;
}

.tv {
    background: #0165F3;
}

.temp {
    background: #0165F3;
}

.curtain {
    background: #0165F3;
}


#btUnregiste {
    width: 72px;
}


#StatusConnection {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    float: left;
}

#lbStatus {
    margin-left: 5px;
}

#status {
    margin-top: 10px;
    background: #50a396;
    border-radius: 5px;
}

#btSaveConnectAPI_RS, #btSaveAlertEmail {
    margin-top: 5px;
    width: 100%;
}

#divConfigIP, #divRegister, #divConfigEmails, #step2 {
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}

.toggleRect {
    width: 14%;
    margin: 0 0 0 20px;
    padding: 0;
    text-align: center;
    position: relative;
    /*left: -5%;
float: right;*/
}

.toggleRectTxt {
    margin-right: 20px;
}

#exit {
    float: right;
    font-size: 20px;
    margin-right: 20px;
}

.btnExcluir{
    float: right;
    position: relative;
    color: red;
    text-decoration: none;
}

#face{
    font-weight: bold;
}

.switch{
    /*z-index: 100;
    position: absolute;*/
}

#btGenIdUser{
    /*z-index: 100;
    position: absolute;
    margin-left: 100px*/
}

#btUpdate{
    padding: 2px
}